<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <title>koa 登陆</title>
    <style>
        input{
            border-color: #fafafa;
        }
    </style>
</head>
<body>
    <form action="/signin" method="post">
        <p>Name: <input name="name" value="koa"></p>
        <p>Password: <input name="password" type="password"></p>
        <p><input type="submit" value="Submit"></p>
    </form>
    <a href="../../views/about.html">to about</a>
</body>
</html>
