@import "../../../css/_public";

.list {
  padding: 0 10px;
  background: #f2f2f2;
  overflow: auto;

  li{
    font-size: 14px;
    color: #222222;

    &.checkbox{
      width: 50px;
    }
    &.serial_num{
      width: 60px;
    }
    &.accountant{
      width: 100px;
    }
    &.stock{
      width: 140px;
    }
  }

  .list_scroll_limit{
    height: calc(100vh - 360px);
    @include overflow-a-h;

    .ant-select-selection{
      -webkit-border-radius: 32px;
      -moz-border-radius: 32px;
      border-radius: 32px;
    }

    .list_scroll{
      display: inline-block;
      min-width: 100%;

      .list_head{
        display: flex;
        height: 96px;


        li{
          padding: 0 15px 20px 15px;

          .name{
            height: 44px;
            @include flex-c-c;
            flex-wrap: wrap;
            overflow: hidden;
            text-align: center;
          }


        }
      }
      .list_main{
        height: calc(100vh - 456px);
        background: #ffffff;
        @include overflow-h-a;

        >li{

          border-bottom: 1px solid #e7e7e8;

          >ul{
            display: flex;
            min-width:100%;

            >li{
              height: 50px;
              @include flex-c-c;

            }
          }
        }
      }
    }
  }


  .list_foot{
    height: 100px;
    @include flex-c-b;

    .fun{
      padding-left: 17px;
      @include flex-c-c;

      .check{
        margin-right: 20px;
      }
    }

    .r{
      @include flex-c-c;
      padding-right: 30px;

      .totop{
        margin-left: 25px;
        cursor: pointer;

      }
    }
  }

}

