@import "../public";

$imgurl: '../../../'+$spriteimg;

.navbar{

  header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 60px;
    background: #399bff;
    display: flex;
    z-index: 999;

    .logo {
      width: 230px;
      @include flex-c-c;
      font-size: 24px;
      color: #ffffff;
      position: relative;
      border-right: 1px solid #3185db;

      .i {
        position: absolute;
        right: 0;
        top: 0;
        width: 55px;
        height: 60px;
        @include flex-c-c;
        cursor: pointer;
        z-index: 1;
        @include transition_all5;

        div {
          width: 19px;
          height: 15px;
          background: url($imgurl) -36px -61px;
        }

      }
    }

    .funlist {
      flex-grow: 1;
      width: 1%;
      @include flex-c-b;

      .search {
        position: relative;

        .sing{
          width: 80px;
          height: 60px;

          @include flex-c-c;
          border-right: 1px solid #3185db;
          cursor: pointer;

          div{
            width: 20px;
            height: 20px;
            background: url($imgurl) -69px -86px;
          }

          &:hover,&.sel{
            background-color: #3185db;
            @include transition_all3;
          }
        }

        .squ{
          position: absolute;
          left: 7px;
          top: 72px;
          width: 286px;
          height: 60px;
          background-color: #399bff;
          @include flex-c-se;
          z-index: 1;

          .arrow{
            width: 0;
            height: 0;
            border-width: 7px;
            border-style: solid;
            border-color: transparent transparent #399bff transparent;
            position: absolute;
            left: 25px;
            top: -14px;
            z-index: 1;
          }

          .input {
            width: 220px;
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            border-radius: 50px;

            input{
              background: #f5faff;

              &:focus{
                background: #ffffff;
                @include transition_all3;
              }
            }
          }

          .close{
            width: 30px;
            height: 30px;
            @include flex-c-c;
            cursor: pointer;

            div{
              width: 14px;
              height: 15px;
              background: url($imgurl) -185px -39px;
            }
          }
        }


      }

      .menu {

        >ul {
          display: flex;

          >li {
            width: auto;
            height: 30px;
            @include flex-c-c;
            padding: 0 18px;
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            border-radius: 50px;
            border: 1px solid transparent;
            overflow: hidden;
            cursor: pointer;

            &.sel, &:hover {

              background: #2a83de;
              border-color: #ffffff;
              @include transition_all3;
            }

            > a ,.ivu-dropdown-rel a{
              font-size: 16px;
              color: #ffffff;
              white-space: nowrap;
            }

            &.other .icon {
              display: inline-block;
              width: 13px;
              height: 13px;
              border-width: 6px;
              border-color: #9ccdff transparent transparent transparent;
              border-style: solid;
              vertical-align: middle;
              margin-top: 5px;
            }
          }

        }

      }

      .otherfun {
        display: flex;

        .oflist {
          display: flex;

          li {
            width: 80px;
            height: 60px;
            border-right: 1px solid #3693f2;
            @include flex-c-c;
            cursor: pointer;

            &:hover{
              background-color: #3693f2;
              @include transition_all3;
            }

            .i {
              position: relative;

              .num{
                position: absolute;
                left: 13px;
                top: -10px;
                width: 20px;
                height: 20px;
                min-width: 20px;
                line-height: 20px;
                -webkit-border-radius: 20px;
                -moz-border-radius: 20px;
                border-radius: 20px;
                background-color: #e30a0a;
                padding: 0 3px;
                text-align: center;
                font-size: 12px;
                color: #ffffff;
                z-index: 1;
              }

              &.chat {
                width: 22px;
                height: 22px;
                background: url($imgurl) -217px -4px;
              }
              &.lock {
                width: 17px;
                height: 20px;
                background: url($imgurl) -255px -4px;
              }
            }
          }
        }

        .user {
          width: 86px;
          @include flex-c-c;

          img {
            display: block;
            width: 40px;
            height: 40px;
            @include borderradius100;
            @include overflow-h-h;
          }
        }
      }

    }
  }

  nav {
    position: fixed;
    left: 0;
    top: 60px;
    width: 230px;
    height: calc(100vh - 60px);
    background: #3d464d;
    z-index: 999;
    @include transition_all5;

    .basicMsg {
      width: 100%;
      height: 140px;
      padding: 5px 20px 0 20px;
      background: #ffffff;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .img {
        display: inline-block;
        width: auto;
        height: 44px;
        margin: 0 auto;

        img {
          display: block;
          width: auto;
          height: 100%;
        }
      }
      .name {
        width: 100%;
        height: 30px;
        line-height: 30px;
        font-size: 18px;
        color: #399bff;
        margin-top: 8px;
        @include overflow-h-h;

        span {
          display: inline-block;
          min-width: 100%;
          white-space: nowrap;
          text-align: center;
        }
      }
      .num {
        height: 25px;
        line-height: 25px;
        color: #909090;
      }
    }

    .navlist {
      height: calc(100vh - 200px);
      @include overflow-h-a;

      > li {

        > a {
          display: block;
          height: 45px;
          font-size: 16px;
          color: #c1c1c1;
          padding: 0 15px 0 22px;

          @include flex-c-b;

          .ni {
            @include flex-c-s;

            .i {
              width: 24px;
              @include flex-c-s;

              &.orderManager {

                div {
                  width: 16px;
                  height: 18px;
                  background: url($imgurl) -4px -4px;
                }
              }

              &.businessEvents {

                div {
                  width: 17px;
                  height: 17px;
                  background: url($imgurl) -36px -4px;
                }
              }

              &.systemManagement {

                div {
                  width: 19px;
                  height: 19px;
                  background: url($imgurl) -69px -4px;
                }

              }

              &.pharmacy {

                div {
                  width: 18px;
                  height: 18px;
                  background: url($imgurl) -102px -4px;
                }
              }
            }
          }
          .rbtn {
            width: 9px;
            height: 16px;
            background: url($imgurl) -4px -61px;
            @include transition_all3;

            &.rat {
              -webkit-transform: rotate(90deg);
              transform: rotate(90deg);
              -webkit-transform-origin: 4px 6px;
              transform-origin: 4px 6px;
              @include transition_all3;
            }
          }
        }

        &.sel {

          > a {

            &:before {
              content: '';
              position: absolute;
              left: 0;
              top: 0;
              width: 4px;
              height: 100%;
              background: #3185db;
              z-index: 1;
            }
          }
        }
        &.sel, &:hover {

          > a {
            color: #ffffff;
            background: #31383e;
            @include transition_all3;
            position: relative;

            .ni {

              .i {

                &.orderManager {

                  div {
                    background: url($imgurl) -4px -32px;
                  }
                }

                &.businessEvents {

                  div {
                    background: url($imgurl) -36px -32px;
                  }
                }

                &.systemManagement {

                  div {
                    background: url($imgurl) -69px -32px;
                  }

                }

                &.pharmacy {

                  div {
                    background: url($imgurl) -102px -31px;
                  }
                }
              }
            }
          }

        }

        ul {
          height: 0;
          @include overflow-h-h;
          -webkit-transition: height .3s;
          transition: height .3s;
          padding-left: 3px;

          &.open {
            -webkit-transition: height .3s;
            transition: height .3s;
          }

          li {

            > a {
              display: block;
              height: 50px;
              font-size: 14px;
              color: #c1c1c1;
              padding: 0 15px 0 43px;

              @include flex-c-s;
              @include overflow-ellipse;
            }

            &:hover, &.sel {

              > a {
                background: #394147;
                color: #ffffff;
                @include transition_all3;
              }
            }

            &.sel {

              > a {
                color: #399bff;
              }
            }
          }
        }
      }
    }
  }
}

.hidebart {

  .navbar{

    header {

      .logo {

        .i {
          -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
          @include transition_all5;
        }
      }
    }
    nav {
      margin-left: -300px;
      @include transition_all5;
    }
  }
}
